.badge {
  margin-right: 5px;
  display: none;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
